header {
  background-image: none !important;
  height: 8vw;
}

header .navbar-basic .navbar-basic-container .list-container .list-item:nth-child(7) {
  display: none;
}

header .navbar-basic .navbar-basic-container .list-container .list-item:nth-child(3) {
  margin-left: 0px !important;
}

header .navbar-basic .navbar-basic-container .list-container .list-item:nth-child(4) {
  height: 31px;
  border-bottom: 2px solid #ba181b;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .shopping-card {
  background-color: transparent;
  border: unset;
  width: 40px;
  padding-bottom: 10px;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .shopping-card:focus {
  outline: none;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links button:focus {
  outline: none;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons {
  display: block;
  font-size: 28px;
  cursor: pointer;
  margin-left: 15px;
  color: #000;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons:hover {
  color: #016db4;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .web-logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: absolute;
  left: 60px;
  height: 100px;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents {
  color: #000;
  -webkit-filter: unset;
          filter: unset;
  font-weight: 600;
  font-size: 16px;
}

header .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents:hover {
  color: #016db4;
}

.welcome-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  .navbar-basic .navbar-basic-container .list-container .list-item:nth-child(7) {
    display: block;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item:nth-child(4) {
    height: unset !important;
    border-bottom: unset !important;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item-group {
    right: unset !important;
    bottom: 2%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item-group:hover .text-parents {
    color: #016db4 !important;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links button {
    color: #fff;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons {
    color: #fff;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons:hover {
    color: #016db4;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents {
    color: #fff !important;
    font-size: 18px !important;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents:hover {
    color: #016db4 !important;
  }
  .admin-panel {
    top: unset;
    bottom: 6%;
    margin-left: unset;
  }
  .web-logo {
    -webkit-filter: invert(75%);
            filter: invert(75%);
  }
  main {
    margin-top: 150px;
  }
}
/*# sourceMappingURL=AboutUs.css.map */