<div class="alert alert-success alert_text">
    Success! Для скидання паролю перейдіть за посиланням, <a asp-controller="Account" asp-action="Login" class="nav-link"> надісланим на електронну пошту</a>.
</div>