@model FreshFishWebsite.ViewModels.ForgotPasswordViewModel

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="form_item">
            <input type="email" placeholder="Електронна пошта" asp-for="Email" class="form_control" />
        </div>
    </div>
    <div class="form_buttons cancel_select">
        <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
        <input type="submit" class="login_button" value="Надіслати" />
    </div>
</form>