@model FreshFishWebsite.ViewModels.ForgotPasswordViewModel

@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Забув пароль - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Auth/auth.css" type="text/css" media="screen" runat="server" />
</head>

<div class="module form-module">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form">
        <h2>Забув пароль</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="email" placeholder="Електронна пошта" asp-for="Email" />
        <button type="submit"class="btn-register">Надіслати</button>
    </form>
    <div class="cta"><a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a></div>
</div>