@model FreshFishWebsite.ViewModels.ForgotPasswordViewModel

@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Забув пароль - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Auth/auth.css" type="text/css" media="screen" runat="server" />
</head>

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/img/Big-Webshop-logo.png" class="main-logo" alt="logo">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Забув пароль</h4>
                            <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group mb-2">
                                    <label for="inputEmail1" class="form-label">Електронна пошта</label>
                                    <input type="email" id="inputEmail1" class="form-control" asp-for="Email" />
                                    <div class="form-text text-muted">
										Натиснувши "Скинути пароль", ми надішлемо посилання для скидання пароля
									</div>
                                </div>
                                <div class="form-group m-0">
                                     <button type="submit" class="btn btn-primary w-100 d-md-block mb-2">Скинути пароль</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>