@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Успішно здійснина операція - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="alert alert-success alert_text">
    Success! Для скидання паролю перейдіть за посиланням, <a asp-controller="Account" asp-action="Login" class="nav-link"> надісланим на електронну пошту</a>.
</div>