@model FreshFishWebsite.ViewModels.RegisterStorageWorker
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Реєстрація - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Auth/auth.css" type="text/css" media="screen" runat="server" />
</head>
<body>

    <h2>Склад №@Model.StorageNumber</h2>
    <h2>Адреса @Model.StorageAddress</h2>
    <div class="module form-module">
        <form class="form" method="post" asp-controller="Account" asp-action="RegisterStorageDriver">
            <input type="hidden" asp-for="StorageId" />
            <div asp-validation-summary="ModelOnly"></div>
            <input type="email" value="@Model.WorkerEmail" readonly placeholder="Електронна пошта" asp-for="Email" class="form_control" />
            <span asp-validation-for="Email"></span>
            <input type="hidden" value="FreshFish" asp-for="Company" />
            <input type="hidden" value="м. Коломия, вул. Чехова 15" asp-for="CompanyAddress" />
            @await Html.PartialAsync("_Register_Form", new FreshFishWebsite.ViewModels.RegisterViewModel())<br />
            <div class="form_buttons cancel_select">
                <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
            </div>
        </form>
        </div>
</body>