@model FreshFishWebsite.ViewModels.RegisterViewModel

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Реєстрація - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Auth/auth.css" type="text/css" media="screen" runat="server" />
</head>
<body>
    <div class="module form-module">
        <form class="form" method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="email" placeholder="Електронна пошта" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <input type="text" placeholder="Підприємство" asp-for="Company" />
            <span asp-validation-for="Company"></span>
            <input type="text" placeholder="Адреса підприємства" asp-for="CompanyAddress" />
            <span asp-validation-for="CompanyAddress"></span>
            @await Html.PartialAsync("_Register_Form", new FreshFishWebsite.ViewModels.RegisterViewModel())
        </form>
    <div class="cta">
        <div>
            <span class="account_text">В тебе вже є акаунт?</span>
            <a asp-controller="Account" asp-action="Login">Ввійти</a>
        </div>
    </div>
    </div>

</body>