@model FreshFishWebsite.ViewModels.ResetPasswordViewModel

<form method="post" class="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form_item">
        <input type="email" asp-for="Email" placeholder="Електронна пошта" class="form_control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form_item">
        <input asp-for="Password" type="password" placeholder="Пароль" class="form_control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form_item">
        <input asp-for="ConfirmPassword" type="password" placeholder="Підтвердіть пароль" class="form_control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form_buttons cancel_select">
        <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
        <button type="submit" class="register_button">Відновити</button>
    </div>
</form>