@model FreshFishWebsite.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Відновлення пароля - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Auth/auth.css" type="text/css" media="screen" runat="server" />
</head>

@*<form method="post" class="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form_item">
        <input type="email" asp-for="Email" placeholder="Електронна пошта" class="form_control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form_item">
        <input asp-for="Password" type="password" placeholder="Пароль" class="form_control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form_item">
        <input asp-for="ConfirmPassword" type="password" placeholder="Підтвердіть пароль" class="form_control" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form_buttons cancel_select">
        <a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a>
        <button type="submit" class="register_button">Відновити</button>
    </div>
</form>*@

<div class="module form-module">
    <form method="post" class="form">
        <h2>Відновлення пароля</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <input type="email" asp-for="Email" placeholder="Електронна пошта" class="form_control" />
        <span asp-validation-for="Email"></span>
        <input asp-for="Password" type="password" placeholder="Пароль" class="form_control" />
        <span asp-validation-for="Password"></span>
        <input asp-for="ConfirmPassword" type="password" placeholder="Підтвердіть пароль" class="form_control" />
        <span asp-validation-for="ConfirmPassword"></span>
        <button type="submit" class="btn-register">Відновити</button>
    </form>
    <div class="cta"><a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a></div>
</div>
