@model FreshFishWebsite.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Відновлення пароля - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Auth/auth.css" type="text/css" media="screen" runat="server" />
</head>
@* 
<div class="module form-module">
    <form method="post" class="form">
        <h2>Відновлення пароля</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Code" type="hidden" />
        <input type="email" asp-for="Email" placeholder="Електронна пошта" class="form_control" />
        <span asp-validation-for="Email"></span>
        <input asp-for="Password" type="password" placeholder="Пароль" class="form_control" />
        <span asp-validation-for="Password"></span>
        <input asp-for="ConfirmPassword" type="password" placeholder="Підтвердіть пароль" class="form_control" />
        <span asp-validation-for="ConfirmPassword"></span>
        <button type="submit" class="btn-register">Відновити</button>
    </form>
    <div class="cta"><a class="cancel_button" asp-controller="Home" asp-action="Index">Скасувати</a></div>
</div> *@

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                         <a asp-controller="Home" asp-action="Index"><img src="~/img/Big-Webshop-logo.png" class="main-logo" alt="logo"></a>
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Відновлення пароля</h4>
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input asp-for="Code" type="hidden" />
                                <div class="form-group mb-2">
                                    <label for="inputEmail1" class="form-label">Електронна пошта</label>
                                    <input type="email" id="inputEmail1" class="form-control" asp-for="Email" />
                                    <span asp-validation-for="Email" class="invalid-feedback"></span>
                                </div>
                                 <div class="form-group mb-2">
                                    <label for="password1" class="form-label">Пароль</label>
                                    <input type="password" id="password1" class="form-control" asp-for="Password" />
                                     <span asp-validation-for="Password" class="invalid-feedback"></span>
                                </div>
                                 <div class="form-group mb-2">
                                    <label for="password2" class="form-label">Підтвердіть пароль</label>
                                    <input type="password" id="password2" class="form-control" asp-for="ConfirmPassword" />
                                     <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                                </div>
                                <div class="form-group m-0">
                                     <button type="submit" class="btn btn-primary w-100 d-md-block mb-2">Відновити</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
