
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Успішно відновлено пароль - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<div class="alert alert-success alert_text">
    Ваш пароль успішно скинутий. Натисність на наступне посилання <a asp-controller="Account" asp-action="Login" class="nav-link">Вхід</a>.
</div>