@model IEnumerable<FreshFishWebsite.Models.Storage>
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";

}
<a class="btn btn-sm btn-success" asp-action="Create">Додати склад</a>
<table class="table">
    <tr>
        <td>Номер складу</td>
        <td>Адреса складу</td>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.Address</td>
    <td>
        <form asp-action="Delete" asp-route-id="@item.Id" method="post">
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
            <button type="submit" class="btn btn-sm btn-danger">
                Видалити
            </button>
        </form>
    </td>
</tr>
}
</table>