@model FreshFishWebsite.ViewModels.LitePoolViewModel
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    ViewData["Title"] = "Басейни";
}

<a asp-action="ManagePoolsIndex" asp-route-storageId="@Model.StorageId">Керувати бесейнами</a>
@* Pools setcion *@
<section>
    <div class="container">
        <div class="container">

            
            <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-5 row-cols-md-3">
                @foreach (var pool in Model.Pools) 
                {
                <div class="card text-center col m-1">
                    <div class="card-body">
                        <h5 class="card-title">Басейн @pool.PoolNumber</h5>
                        <p class="card-text">
                            <div class="water-waves">
                                <div class="water-wave1"></div>
                                <div class="water-wave2"></div>
                                <div class="water-wave3"></div>
                            </div>
                        <p><span class="iconify card-fish" data-inline="false" data-icon="la:fish"></span>@pool.FishQuantly/@pool.MaxProductsKg</p>
                    </div>
                    @*</p>*@
                    <p class="card-text">Потребує годування: <span class="text-success">@pool.IsFishFed</span></p>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary btn-sm">Керувати</button>
                        <button type="button" class="btn btn-primary btn-sm">Погодувати</button>
                    </div>
                </div>}
            </div>
        </div>
        </div>

    </div>
    </div>
    </div>
</section>
@* Graphics section *@
<section>
    <div class="container">
        <div class="card m-1 text-center">
            <div class="card-body">
                <p class="card-text">Виберіть басейн для перегляду графіка</p>
            </div>
        </div>
    </div>
</section>
<script src="~/js/Pools/Pools.js"></script>