* {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 80px;
}

header {
  background-image: none;
  height: unset;
}

.navbar-basic .navbar-basic-container .list-container .list-item:nth-child(3) {
  margin-left: 0px !important;
}

.navbar-basic .navbar-basic-container .list-container .list-item:nth-child(2) {
  height: 31px;
  border-bottom: 2px solid #ba181b;
}

.navbar-basic .navbar-basic-container .list-container .list-item-group {
  position: absolute;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-basic .navbar-basic-container .list-container .list-item-group .ml-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-basic .navbar-basic-container .list-container .list-item-group .ml-f:hover,
.navbar-basic .navbar-basic-container .list-container .list-item-group .ml-f:hover .text-parents,
.navbar-basic .navbar-basic-container .list-container .list-item-group .ml-f:hover .product-icons {
  color: #016db4;
}

.navbar-basic .navbar-basic-container .list-container .list-item .shopping-card {
  background-color: transparent;
  border: unset;
  width: 40px;
  padding-bottom: 10px;
}

.navbar-basic .navbar-basic-container .list-container .list-item .shopping-card:focus {
  outline: none;
}

.navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons {
  display: block;
  font-size: 28px;
  cursor: pointer;
  margin-left: 15px;
  color: #000;
}

.navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons:hover {
  color: #016db4;
}

.navbar-basic .navbar-basic-container .list-container .list-item .menu-links .web-logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: absolute;
  left: 60px;
  height: 100px;
}

.navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents {
  color: #000;
  -webkit-filter: unset;
          filter: unset;
  font-weight: 600;
  font-size: 16px;
}

.navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents:hover {
  color: #016db4;
}

.products-container {
  background-color: unset;
  margin-top: auto;
}

.products-container .products-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-container-category {
  margin-left: 15px;
  width: 220px;
}

.products-container-category input {
  display: none;
}

.products-container-category label {
  background-color: #edeff8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 30px;
  margin-bottom: unset;
  color: #1b1b1c;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.products-container-category label div:first-child {
  width: 100%;
  line-height: 45px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}

.products-container-category .cross {
  margin-right: 15px;
  margin-top: 3px;
}

.products-container-category .cross:before,
.products-container-category .cross:after {
  content: "";
  border-top: 2px solid #3e474f;
  width: 14px;
  display: block;
  margin-top: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.products-container-category .cross:after {
  -webkit-transform: rotate(45deg) translateY(6px) translateX(-6px);
          transform: rotate(45deg) translateY(6px) translateX(-6px);
  margin-top: -2px;
}

.products-container-category .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.9em;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height, 0.5s;
  transition: max-height, 0.5s;
}

.products-container-category input:checked ~ .content {
  max-height: 400px;
  -webkit-transition: max-height, 1s;
  transition: max-height, 1s;
}

.products-container-category input:checked ~ label .cross:before {
  -webkit-transform: rotate(-45deg) translateY(-6px) translateX(-6px);
          transform: rotate(-45deg) translateY(-6px) translateX(-6px);
}

.products-container-category input:checked ~ label .cross:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.products-container-category .questions {
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height, 0.5s;
  transition: max-height, 0.5s;
}

.products-container-category .questions label {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}

.products-container-category input:checked ~ .questions {
  max-height: 400px;
  border-bottom: 2px solid #3e474f;
  -webkit-transition: 1s;
  transition: 1s;
}

.products-container-view {
  width: 89.5%;
}

.products-container-view-img {
  height: unset;
}

.products-container-view-img .img-container {
  height: 22vw;
  width: 22vw;
}

.products-container-view-img .img-container .fish-img {
  height: 25vw;
}

.products-container-view-info {
  margin-top: unset;
  margin-bottom: unset;
  background-color: unset;
}

.products-container-view-info h2 {
  color: #3e4963;
}

.products-container-view-info p {
  color: #000;
}

.products-container-view-info-read {
  margin-top: 40px;
}

.products-container-view-info-read .products-details p {
  padding-right: 10px;
  margin-top: -2px;
  border-right: 2px solid #ba181b;
}

.products-container-view-info-read form .btn-add {
  color: #fff;
  background-color: #ba181b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products-container-view-img .img-container {
  background-image: url(/img/Products/ProductFishBg.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.products-container-preview {
  display: block;
}

.products-container-preview-other {
  height: 310px;
  width: unset;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (253px)[100];
      grid-template-columns: repeat(100, 253px);
  grid-column-gap: 3vw;
}

.products-container-preview-other .product-card {
  margin-top: 20px;
  margin-left: 3vw;
  background-color: unset;
  display: block;
  height: unset;
  width: unset;
  overflow: hidden;
  height: 280px;
  width: 260px;
  -webkit-filter: unset;
          filter: unset;
  border-radius: unset;
  padding: unset;
}

.products-container-preview-other .product-card-content {
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: block;
  height: 230px;
  width: 180px;
  overflow: hidden;
  border-radius: unset;
  padding: unset;
  border-radius: unset;
  padding: unset;
  background-color: #f4f6fb;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.products-container-preview-other .product-card:hover {
  -webkit-filter: unset;
          filter: unset;
}

.products-container-preview-other .product-card input {
  display: none;
}

.products-container-preview-other .product-card label {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.products-container-preview-other .product-card-img,
.products-container-preview-other .product-card h5,
.products-container-preview-other .product-card p {
  cursor: pointer;
}

.products-container-preview-other .product-card-img {
  height: unset;
  -webkit-transform: unset;
          transform: unset;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 75%;
  display: block;
}

.products-container-preview-other .product-card h5 {
  color: #3e4963;
}

.products-container-preview-other .product-card p {
  color: #7c8bb6;
}

.products-container-preview-other .product-card div form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.products-container-preview-other .product-card div form .btn-add {
  background-color: transparent;
  border: none;
}

.products-container-preview-other .product-card div form .btn-add:focus {
  border: none;
  outline: none;
}

.products-container-preview-other .product-card div form .btn-add-content {
  height: 20px;
  width: 20px;
}

.products-container-preview-other .product-card div form .btn-add-content:hover {
  color: #ba181b;
}

.products-container-preview-other .product-card-content.active {
  background-color: #edeff8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.products-container-preview-controll {
  margin-left: auto;
  margin-right: auto;
  height: 80px;
}

.products-container-preview-controll-block {
  margin-top: 10%;
}

.products-container-preview-controll-block .btn-previous .arrow,
.products-container-preview-controll-block .btn-next .arrow {
  border-color: #000;
}

.products-container-preview-controll-block h3 {
  color: #000;
}

.welcome-container {
  display: none;
}

.pdfobject-container {
  height: 30rem;
  border: 1rem solid rgba(0, 0, 0, 0.1);
}

.trigger {
  margin: 0 0.75rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
          box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 0.875rem;
  font-weight: 300;
}

.trigger i {
  margin-right: 0.3125rem;
}

.trigger:hover {
  -webkit-box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0vh;
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  z-index: 9999;
}

.modal.open {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.modal.open > .content-wrapper {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal .content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  margin: 0;
  padding: 2.5rem;
  background-color: white;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.modal .content-wrapper .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.modal .content-wrapper .close:focus {
  outline: none;
}

.modal .content-wrapper .close:before, .modal .content-wrapper .close:after {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
}

.modal .content-wrapper .close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .content-wrapper .close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .content-wrapper .close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal .content-wrapper .close:hover:before, .modal .content-wrapper .close:hover:after {
  background-color: #016db4;
}

.modal .content-wrapper .modal-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0 0 1.25rem;
}

.modal .content-wrapper .modal-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal .content-wrapper .content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .content-wrapper .content p {
  font-size: 0.875rem;
  line-height: 1.75;
}

.modal .content-wrapper .modal-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 1.875rem 0 0;
}

.modal .content-wrapper .modal-footer .action {
  position: relative;
  margin-left: 0.625rem;
  padding: 0.625rem 1.25rem;
  border: none;
  background-color: lightgray;
  border-radius: 0.25rem;
  color: white;
  font-size: 0.87rem;
  font-weight: 300;
  overflow: hidden;
  z-index: 1;
}

.modal .content-wrapper .modal-footer .action:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
  z-index: 0;
}

.modal .content-wrapper .modal-footer .action:first-child {
  background-color: #2ecc71;
}

.modal .content-wrapper .modal-footer .action:last-child {
  background-color: #e74c3c;
}

.modal .content-wrapper .modal-footer .action:hover:before {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .navbar-basic .navbar-basic-container .list-container .list-item:nth-child(2) {
    height: unset;
    border-bottom: unset;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item-group {
    position: relative !important;
    right: unset !important;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item-group:hover .text-parents {
    color: #016db4 !important;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons {
    color: #fff;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .product-icons:hover {
    color: #016db4;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents {
    color: #fff !important;
    font-size: 18px !important;
  }
  .navbar-basic .navbar-basic-container .list-container .list-item .menu-links .text-parents:hover {
    color: #016db4 !important;
  }
  .modal .content-wrapper {
    width: 100%;
    height: 100%;
  }
  .products-container .products-flex {
    display: block;
  }
  .products-container-category {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .products-container-view {
    width: unset;
    margin-top: 150px;
  }
  .products-container-preview {
    margin-top: auto;
    padding: 0px;
  }
  .products-container-preview-other {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-transform: unset;
            transform: unset;
    -ms-grid-columns: (100%)[100];
        grid-template-columns: repeat(100, 100%);
    grid-column-gap: 10px;
    height: 340px;
  }
  .products-container-preview-other .product-card {
    height: 340px;
    -webkit-transform: unset;
            transform: unset;
    margin-right: auto;
    margin-left: auto;
  }
  .products-container-preview-other .product-card-content {
    margin-top: 40px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .products-container-preview-other .product-card-content.active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .products-container-preview-controll {
    padding-bottom: 100px;
  }
  .web-logo {
    -webkit-filter: invert(75%);
            filter: invert(75%);
  }
  main {
    margin-top: 150px;
  }
}
/*# sourceMappingURL=products.css.map */