@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="about-container" id="about">
    <object data="~/img/mainPage/_1Fish.svg" type="image/svg+xml" class="fish-img"></object>
    <div class="paper-box">
        <div class="paper-box-title">
            <h3>Про нас</h3>
        </div>
        <p>
            Ми відповідально підходимо до підбору видів риби, предсталених на нашому сайті. Тут ви побачите тільки
            якісну рибну продукцію,
            яка відповідає всім стандартам елкологічних ферм.
        </p>
        <p>
            Продукція FreshFish буває тільки в одному стані - свіжому!
        </p>
    </div>
    <img src="~/img/mainPage/fisherman.jpg" class="about-img" />
</div>
<div class="quote-container">
    <blockquote class="quote-container-text">Тільки свіжа і якісна риба і морепродукти - запорука вишуканого смаку ваших
        страв.</blockquote>
</div>
<div class="products-container">
    <img src="~/img/mainPage/779.jpg" class="products-under-img" />
    <h1 class="products-container-title">Хіт продажів</h1>
    <div class="products-container-view">
        <div class="products-container-view-info">
            <h2>Дорадо</h2>
            <p>Це м'ясо корисно для людей які мають проблеми з щитовидною залозою і бал бла бал...</p>
            <div class="products-container-view-info-read">
                <div class="products-details">
                    <p>27г білків</p>
                    <p>100 ккал</p>
                    <p>280грн/кг</p>
                </div>
                <form class="">
                    <button type="submit" class="btn-add">Добавити в корзину<span class="iconify btn-add-content"
                            data-inline="false" data-icon="akar-icons:plus"></span></button>
                </form>
            </div>
        </div>
        <div class="products-container-view-img">
            <div class="img-container">
                <img class="fish-img" src="~/img/mainPage/None_bgFish.png" />
            </div>
        </div>
    </div>
    <div class="products-container-preview">
        <div class="products-container-preview-controll">
            <div class="products-container-preview-controll-block">
                <button class="btn-previous" data-trigger="previous">
                    <span class="arrow arrow-left" data-trigger="previous"></span>
                </button>
                <h3>1/1</h3>
                <button class="btn-next" data-trigger="next">
                    <span class="arrow arrow-right" data-trigger="next"></span>
                </button>
            </div>
        </div>
        <div class="products-container-preview-other">
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="product-card">
                <img src="~/img/mainPage/None_bgFish.png" class="product-card-img" />
                <div class="product-card-titleAndinfo">
                    <h5>Дорадо</h5>
                    <p>280грн/кг</p>
                    <div>
                        <form class="">
                            <button type="submit" class="btn-add"><span class="iconify btn-add-content"
                                    data-inline="false" data-icon="akar-icons:plus"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contacts-container">
    <div class="contacts-container-info">
        <h4>Ми завжди на зв'язку</h4>
        <p>Якщо у вас виникли якісь питання, ми завжди будемо раді відповісти на них, при потребІ, допомогти з вибором
            товару.</p>
        <h3>тел. +380 896 338 137</h3>
    </div>
    <div class="contacts-container-logo">
        <object data="~/img/mainPage/ContactLogo.svg" type="image/svg+xml" class="contact-logo"></object>
    </div>
</div>
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Про компанію</h3>
                    <ul>
                        <li><a href="#">Історія</a></li>
                        <li><a href="#">Ліцензія</a></li>
                        <li><a href="#">Партнери</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Продкуція</h3>
                    <ul>
                        <li><a href="#">Риба</a></li>
                        <li><a href="#">Морепродукти</a></li>
                        <li><a href="#">Ікра</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>FAQ</h3>
                    <ul>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Оплата</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <object data="~/img/Big-Webshop-logo.svg" type="image/svg+xml" class="web-logo"></object>
                </div>
            </div>
        </div>
    </footer>

</div>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>