@inject Microsoft.AspNetCore.Identity.SignInManager<User> signInManager;
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager;

@{
    User user = new FreshFishWebsite.Models.User();
    if (signInManager.IsSignedIn(User))
        user = await userManager.FindByNameAsync(User.Identity.Name);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/mainPage.css" type="text/css" media="screen" runat="server" />
</head>

<body>
    <header>
        <nav class="navbar-basic">
            <div class="navbar-basic-container">
                <ul class="list-container">
                    <li class="list-item">
                        <a class="menu-links" href="/">
                            <p class="text-parents">Головна</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="menu-links" asp-controller="ShoppingCart" asp-action="ShowAllProducts">
                            <p class="text-parents">Продукція</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="menu-links logo-links" href="/">
                            <img src="~/img/Big-Webshop-logo.png" class="web-logo" />
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="menu-links" href="/#about">
                            <p class="text-parents">Про нас</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="menu-links">
                            <p class="text-parents">Контакти</p>
                        </a>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            @if (!signInManager.IsSignedIn(User))
                            {
                                <a class="menu-links ml-f" asp-action="Login" asp-controller="Account">
                                    <p class="text-parents">Увійти</p>
                                    <span class="iconify product-icons" data-inline="false"
                                        data-icon="codicon:account"></span>
                                </a>
                            }
                            else
                            {
                                <div class="menu-links ml-f">
                                    <form method="post" asp-action="Logout" asp-controller="Account">
                                        <button type="submit">
                                            Вийти
                                        </button>
                                    </form>
                                    <span class="iconify product-icons" data-inline="false"
                                        data-icon="codicon:account"></span>
                                </div>
                            }
                            <button class="menu-links shopping-card">
                                <span class="iconify product-icons" data-inline="false"
                                    data-icon="akar-icons:shopping-bag"></span>
                            </button>
                        </div>
                    </li>
                    <li class="list-item">
                        @if (signInManager.IsSignedIn(User) && User.IsInRole("MainAdmin") ||
                       User.IsInRole("AdminAssistant"))
                        {
                            <div class="admin-panel">
                                <a class="admin-panel-link" asp-action="Index" asp-controller="Admin">
                                    <p class="text-parents">Адмін панель</p>
                                </a>
                            </div>
                        }
                        else if (signInManager.IsSignedIn(User) && User.IsInRole("Driver"))
                        {
                            <div class="admin-panel">
                                <a class="admin-panel-link" asp-action="Index" asp-controller="Driver">
                                    <p class="text-parents">Панель водія</p>
                                </a>
                            </div>
                        }
                    </li>
                    
                </ul>
            </div>
            <a class="menu-links mobile-logo logo-links">
                <img src="~/img/Big-Webshop-logo.png" class="web-logo" />
            </a>
            <div class="mobile-menu-btn">
                <label class="menu-btn-position">
                    <input class="menu-btn" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
        </nav>
        <div class="body-trigger d-none"></div>
        <div class="welcome-container">
            <div class="welcome-container-title">
                <p>Свіжа риба</p>
            </div>
            <p class="welcome-container-subtitle">
                Бездоганна риба на столі за декілька кліків!<br />
                Чудовий та широкий асортимент риби і високоякісного сервісу.
            </p>
        </div>
        <object data="~/img/mainPage/downArrow.svg" type="image/svg+xml" class="arrowImage"></object>
    </header>
    <div class="home-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mainPage.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>