<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreshFishWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/mainPage.css")" />
</head>
<body>
    <header>
       <nav class="navbar-basic">
           <div class="navbar-basic-container">
               <ul class="list-container">
                   <li class="list-item">
                       <a class="menu-links" href="/">
                           <p class="text-parents">Головна</p>
                       </a>
                   </li>
                   <li  class="list-item">
                       <a class="menu-links" asp-controller="Products" asp-action="Index">
                           <p class="text-parents" >Продукція</p>
                       </a>
                   </li>
                    <li  class="list-item">
                       <a class="menu-links">
                           <p class="text-parents">LOGo</p>
                       </a>
                    </li>
                   <li  class="list-item">
                       <a class="menu-links" href="/#about">
                           <p class="text-parents">Про нас</p>
                       </a>
                   </li>
                   <li  class="list-item">
                       <a class="menu-links">
                           <p class="text-parents">Контакти</p>
                       </a>
                   </li>
               </ul>
           </div>
              <a class="menu-links mobile-logo">
                           <p class="text-parents">LOGo</p>
               </a>
               <div class="mobile-menu-btn">
                   <label class="menu-btn-position">
                       <input class="menu-btn" type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                   </label>
                   
               </div>       
       </nav>
        <div class="welcome-container">
            <div class="welcome-container-title">
                <p>Свіжа риба</p>
            </div>
           <p class="welcome-container-subtitle">
               Бездоганна риба на столі за декілька кліків!<br />
               Чудовий та широкий асортимент риби і високоякісний сервісз.
           </p>
        </div>
        <object data="~/img/mainPage/downArrow.svg" type="image/svg+xml" class="arrowImage"></object>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FreshFishWebsite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="home-container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mainPage.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
