@model FreshFishWebsite.Models.Product
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="StorageId" />
    </div>
    <div class="form-group">
        <label asp-for="ProductName" class="control-label">Назва</label>
        <input type="text" asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PricePerKg" class="control-label">Ціна</label>
        <input type="number" asp-for="PricePerKg" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label">Дата виготовлення</label>
        <input type="date" asp-for="Date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="QuantityKg" class="control-label">Кількість</label>
        <input type="text" asp-for="QuantityKg" class="form-control" />
        <input type="hidden" asp-for="RemainingQuantityKg" value="@Model.QuantityKg" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Calories" class="control-label">Калорії</label>
        <input type="number" asp-for="Calories" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Опис</label>
        <textarea asp-for="Description"></textarea>
    </div>
    <div>
        <input type="text" asp-for="Image" hidden />
        <img src="~/images/productsImages/@Model.Image" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input asp-for="ImageFile" accept="image/*" type="file" />
    </div>
    <div class="form-group">
        <label asp-for="IsSold" class="control-label">Продано</label>
        <input type="checkbox" asp-for="IsSold" class="custom-checkbox" />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-default" />
    </div>
</form>